// Font
$mainFont: 'Montserrat-Regular', Helvetica, Arial, sans-serif;
$mediumFont: 'Montserrat-Medium', Helvetica, Arial, sans-serif;
$semiBoldFont: 'Montserrat-SemiBold', Helvetica, Arial, sans-serif;
$extraBoldFont: 'Montserrat-ExtraBold', Helvetica, Arial, sans-serif;
$loraFont: 'Lora-Regular', Helvetica, Arial, sans-serif;

// Size
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$bg-color: #1c1cc3;